@using Carsale.Extensions

@model Carsale.ViewModels.SellViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Sale", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.VehicleId)

    <div class="form-row">
        <div class="form-group">
            @Html.TextBoxFor(model => model.Sale.Price, new { @class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Sale.Price).ToHtmlString()) })
            @Html.ValidationMessageFor(model => model.Sale.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            @Html.DropDownListFor(m => m.ClientId, Model.Clients.Select(client => new SelectListItem
            {
                Value = client.Id.ToString(),
                Text = (client.Type == Carsale.DAO.Models.ClientType.Company) ? client.Name : client.FirstName + " " + client.LastName
            }).AddFirst(new SelectListItem() { Text = "Client", Value = "", Selected = true }), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ClientId)
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}
