@using Carsale.Extensions

@model Carsale.ViewModels.SellViewModel

@{
    ViewBag.Title = "Créer";
}

<h2>Créer</h2>

@using (Html.BeginForm("Create", "Sale", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.VehicleId)

    <div class="form-row">
        <div class="form-group">
            @Html.LabelFor(model => model.Sale.Price, htmlAttributes: new { @class = "control-label" })
            <span class="input-symbol-euro">
                @Html.TextBoxFor(model => model.Sale.Price, new { @class = "form-control" })
            </span>
            @Html.ValidationMessageFor(model => model.Sale.Price, ViewBag.PriceError as string, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ClientId, Model.Clients.Select(client => new SelectListItem
            {
                Value = client.Id.ToString(),
                Text = (client.Type == Carsale.DAO.Models.ClientType.Company) ? client.Name : client.FirstName + " " + client.LastName
            }), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ClientId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Vendre" class="btn btn-primary" />
    </div>
}
