@using Carsale.Models

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        @if (ViewBag.LoggedUser != null)
        {
            <nav id="sidebar" class="sidebar">
                <div class="sidebar-contents ">
                    <div class="sidebar-header">
                        <h3>Navigation</h3>
                    </div>

                    <ul class="list-unstyled components">
                        @foreach (var item in (ViewBag.MenuItems as IEnumerable<ControllerActionLink>))
                        {
                            <li>
                                @Html.ActionLink(item.Text, item.Action, item.Controller)
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        }

        <div class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="~/Images/head-icon.png" height="64" class="d-inline-block align-top" alt="Carsale icon"><br />
                        Carsale
                    </a>
                </div>

                @if (ViewBag.LoggedUser != null)
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburger-menu-contents" aria-controls="hamburger-menu-contents"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="dark-blue-text"><i class="fa fa-bars fa-1x"></i></span>
                    </button>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse hidden-md-up" id="hamburger-menu-contents">
                        <ul class="navbar-nav mr-auto">
                            @foreach (var item in (ViewBag.MenuItems as IEnumerable<ControllerActionLink>))
                            {
                                <li class="nav-item">
                                    @Html.ActionLink(item.Text, item.Action, item.Controller)
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Carsale</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
