@using Carsale.DAO.Models
@using Carsale.ViewModels

@model CreateVehicleViewModel
@{
    ViewBag.Title = "Create";
}

<h2>
    Vehicle
</h2>

@using (Html.BeginForm("Create", "Vehicle", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Vehicle.Matriculation)
        @Html.TextBoxFor(m => m.Vehicle.Matriculation, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vehicle.Matriculation)
    </div>
    
    <div class="form-group">
<<<<<<< HEAD
        @Html.LabelFor(m => m.Brands)
        @Html.HiddenFor(m => m.Vehicle.BrandId, new { @class = "form-control" })
        @Html.DropDownListFor(m => m.Vehicle.BrandId, Model.Brands.Select(brand => new SelectListItem
        {
            Value = brand.Id.ToString(),
            Text = brand.Name
        }), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Brands)
        @using (Html.BeginForm("CreateBrand", "Vehicle", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
        {

            <div class="container">
                <div class="row">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createBrand" aria-expanded="false">
                        New Brand
                    </button>
                    <div class="modal" id="createBrand" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    @Html.LabelFor(m => m.Brand)
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">

                                            @Html.LabelFor(m => m.Brand.Name)
                                            @Html.TextBoxFor(m => m.Brand.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Brand.Name)

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default">Validate</button>
                                    <button value="Close" data-dismiss="modal" id="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>

        }

=======

        <div class="collapse-brand-form collapse show" aria-expanded="true">
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedBrandId)
                @Html.DropDownListFor(m => m.SelectedBrandId, Model.Brands.Select(brand => new SelectListItem
                {
                    Value = brand.Id.ToString(),
                    Text = brand.Name
                }), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SelectedBrandId)
            </div>
        </div>

        <div class="collapse-brand-form collapse" aria-expanded="false">
            <div class="form-group">
                @Html.LabelFor(m => m.BrandName)
                @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BrandName)
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target=".collapse-brand-form" aria-expanded="false" aria-controls="collapse-brand-form">
                <span class="if-collapsed">Créer une nouvelle marque</span>
                <span class="if-not-collapsed">Utiliser une marque existante</span>
            </button>
        </div>
>>>>>>> 896860845754e4e2c4fb39027aec9ad3023615fc
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m => m.Vehicle.Power)
        @Html.TextBoxFor(m => m.Vehicle.Power, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vehicle.Power)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Vehicle.Model)
        @Html.TextBoxFor(m => m.Vehicle.Model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vehicle.Model)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.VehicleColor)
        @Html.DropDownListFor(m => m.VehicleColor, (Model.VehicleColor as IEnumerable<VehicleColor>).Select(e => new SelectListItem() { Text = e.ToString(), Value = e.ToString() }).AsEnumerable(), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.VehicleColor)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.DropDownListFor(m => m.Status, (Model.Status as IEnumerable<StatusVehicle>).Select(e => new SelectListItem() { Text = e.ToString(), Value = e.ToString() }).AsEnumerable(), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Status)
    </div>
    <div class="col-md-4">
        <input type="submit" class="btn btn-default" value="Validate" />
    </div>
}
    
