@using Carsale.DAO.Models
@using Carsale.ViewModels

@model CreateVehicleViewModel
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("CreateBrand", "Vehicle", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
{

    <div class="container">
        <div class="row">
            <a href="#"  class="btn btn-primary"  data-toggle="modal" data-target="#updateVehicle"></a>
               
            <div class="modal" id="updateVehicle" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                              <a href="#" class="close" data-dismiss="modal">&times;</a>
                               <h" class="modal-title"> Update Vehicle</h">"
                            </div>
                             <div class="modal-body">
                                 <form id="updateVhl">
                                     <div class="form-row">
                                         <div class="form-group col-md-6">
                                             @Html.LabelFor(m => m.Brands)
                                             @Html.HiddenFor(m => m.Vehicle.BrandId, new { @class = "form-control" })
                                             @Html.DropDownListFor(m => m.Vehicle.BrandId, Model.Brands.Select(brand => new SelectListItem
                                        {
                                            Value = brand.Id.ToString(),
                                            Text = brand.Name
                                        }), new { @class = "form-control" })
                                             @Html.ValidationMessageFor(m => m.Brands, "", new { @class = "text-danger" })
                                         </div>
                                         <div class="form-group col-md-6">
                                             @Html.LabelFor(m => m.Vehicle.Power)
                                             @Html.TextBoxFor(m => m.Vehicle.Power, new { @class = "form-control" })
                                             @Html.ValidationMessageFor(m => m.Vehicle.Power, "", new { @class = "text-danger" })
                                         </div>
                                     </div>
                                     <div class="form-row">
                                         <div class="form-group col-md-6">
                                             @Html.LabelFor(m => m.Vehicle.Model)
                                             @Html.TextBoxFor(m => m.Vehicle.Model, new { @class = "form-control" })
                                             @Html.ValidationMessageFor(m => m.Vehicle.Model, "", new { @class = "text-danger" })
                                         </div>
                                         <div class="form-group col-md-6">
                                             @Html.LabelFor(m => m.VehicleColor)
                                             @Html.DropDownListFor(m => m.VehicleColor, (Model.VehicleColor as IEnumerable<VehicleColor>).Select(e => new SelectListItem() { Text = e.ToString(), Value = e.ToString() }).AsEnumerable(), new { @class = "form-control" })
                                             @Html.ValidationMessageFor(m => m.VehicleColor, "", new { @class = "text-danger" })
                                         </div>
                                         <div class="form-group col-md-6">
                                             @Html.LabelFor(m => m.Status)
                                             @Html.DropDownListFor(m => m.Status, (Model.Status as IEnumerable<StatusVehicle>).Select(e => new SelectListItem() { Text = e.ToString(), Value = e.ToString() }).AsEnumerable(), new { @class = "form-control" })
                                             @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                                         </div>
                                 </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

}
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function){
            
            var myformdata = $("#updateVhl").serialize();
            $.ajax({
                type: "POST",
                url: "/Vehicle/Update",
                data: myformdata,
                success: function () {
                    $("#updateVehicle").modal("hide");

                }
            })
        }
    })
</script>