@using Carsale.DAO.Models
@using Carsale.Extensions

@model Carsale.ViewModels.FilterVehicleViewModel
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

@if (ViewBag.LoggedUser != null && ((ViewBag.LoggedUser as Account).Type == AccountType.Director))
{
    @Html.ActionLink("Ajouter un nouveau vehicule neuf", "Create", null, new { @class = "btn btn-default" })
}

<table class="table">
    <thead>
        <tr>

            <th scope="col">Marque</th>
            <th scope="col">Modèle</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
            {
                <th scope="col"></th>
                <th scope="col"></th>
            }
        </tr>

        <tr>
            <th colspan="6">
                <div>
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="m1 m2 m3 m4">Filtre</button>
                    @using (Html.BeginForm("List", "Vehicle", FormMethod.Post, new { id = "filter", @class = "form-horizontal secondary-form" }))
                    {
                        <div class="multi-collapse collapse form-row">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(m => m.Brands)
                                @Html.DropDownListFor(m => m.SelectedBrandId, Model.Brands.Select(brand => new SelectListItem
                                {
                                    Value = brand.Id.ToString(),
                                    Text = brand.Name
                                }).AddFirst(new SelectListItem()), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SelectedBrandId)
                            </div>

                            <div class="form-group col-md-3">
                                @Html.LabelFor(m => m.SelectedColor)
                                @Html.DropDownListFor(m => m.SelectedColor, (Model.VehicleColors as IEnumerable<VehicleColor>).Select(e => new SelectListItem() { Text = e.ToString(), Value = e.ToString() }).AsEnumerable().AddFirst(new SelectListItem()), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SelectedColor, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-3">
                                @Html.LabelFor(m => m.SelectedStatus)
                                @Html.DropDownListFor(m => m.SelectedStatus, (Model.Status as IEnumerable<StatusVehicle>).Select(e => new SelectListItem() { Text = e.ToString(), Value = e.ToString() }).AsEnumerable().AddFirst(new SelectListItem()), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SelectedStatus)
                            </div>

                            <div class="form-group col-md-3">
                                <input type="submit" class="btn btn-secondary" value="Rechercher" />
                            </div>
                        </div>
                    }
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var vehicle in (Model.Vehicles as IEnumerable<Vehicle>))
        {
        <tr>
            <td>@vehicle.Brand.Name</td>
            <td>@vehicle.Model</td>
            <td>@vehicle.Status.ToString()</td>
            <td>@Html.ActionLink("Voir Plus", "Detail", new { matriculation = vehicle.Matriculation })</td>
            <td>@Html.ActionLink("Vendre", "Create", "Sale", new { id = vehicle.Matriculation }, null)</td>
            @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
            {
                <td>@Html.ActionLink("Editer", "Edit", new { matriculation = vehicle.Matriculation })</td>
                <td>@Html.ActionLink("Supprimer", "Delete", new { matriculation = vehicle.Matriculation })</td>
                <td>@Html.ActionLink("Reprise", "Create", "TradeIn", new { matriculation = vehicle.Matriculation }, null)</td>
            }
        </tr>
        }
    </tbody>
</table>