@using Carsale.DAO.Models

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@if (ViewBag.LoggedUser!=null && ((ViewBag.LoggedUser as Account).Type == AccountType.Director))
{
    @Html.ActionLink("Ajouter un nouveau vehicule neuf", "Create", null, new { @class = "btn btn-default" })
}

<table class="table">
    <thead>
        <tr>

            <th scope="col">Marque</th>
            <th scope="col">Couleur</th>
            <th scope="col">Puissance</th>
            <th scope="col">Modèle</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
            {
                <th scope="col"></th>
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in (ViewBag.Vehicles as IEnumerable<Vehicle>))
        {
        <tr>

            <td>@vehicle.Brand.Name</td>
            <td>@vehicle.VehicleColor.ToString()</td>
            <td>@vehicle.Power</td>
            <td>@vehicle.Model</td>
            <td>@vehicle.Status.ToString()</td>
            <td>@Html.ActionLink("Vendre", "Create", "Sale", new { id = vehicle.Matriculation }, null)</td>
            @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
            {
                <td>@Html.ActionLink("Editer", "Edit", new { id = vehicle.Matriculation })</td>
                <td>@Html.ActionLink("Supprimer", "Delete", new { id = vehicle.Matriculation })</td>

            }
        </tr>
        }

    </tbody>
</table>