@using Carsale.DAO.Models

@model Account

@{
    ViewBag.Title = "Détail de Compte";
}

<h2>Détail de Compte</h2>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName  @Model.LastName</h5>
        <p class="card-text">@Model.Email</p>

        @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
        {
        <ul>
            <li>@Html.ActionLink("Editer", "Edit", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Supprimer", "Delete", new { id = Model.Id })</li>
        </ul>
        }
    </div>
</div>