@using Carsale.DAO.Models

@model IEnumerable<Part>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
{
    @Html.ActionLink("Ajouter un nouveau compte", "Create", null, new { @class = "btn btn-default" })
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
            @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
            {
                <th scope="col"></th>
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model)
        {
            <tr>
                <td>@part.Name</td>
                <td>@part.Description</td>
                <td>@part.Price €</td>
                @if ((ViewBag.LoggedUser as Account).Type == AccountType.Director)
                {
                    <td>@Html.ActionLink("Editer", "Edit", new { id = part.Id })</td>
                    <td>@Html.ActionLink("Supprimer", "Delete", new { id = part.Id })</td>
                }
            </tr>
        }
    </tbody>
</table>