@model Carsale.ViewModels.TradeInlViewModel

@{
    ViewBag.Title = "AddClient";
}

<h2>AddClient</h2>


@using (Html.BeginForm("TradeInEnd", "TradeIn", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Client.Type, htmlAttributes: new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.Client.Type, htmlAttributes: new { @class = "form-control" })
            @Html.HiddenFor(m => m.SaleID, new { @class = "form-control" })
            @Html.HiddenFor(m => m.TradeInID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.LastName, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.SIRET, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.SIRET, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.SIRET, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.Name, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Client.Description, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Client.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.Address1, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.Address1, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.Address1, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.Address2, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.Address2, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.Address2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.Country, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.Country, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Client.ZipCode, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Client.ZipCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client.ZipCode, "", new { @class = "text-danger" })
        </div>
    </div>

    @ViewBag.Error

    <div class="form-row">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            function updateTypeFieldsVisibility() {
                let isPerson = $('#Client_Type').val() === "0";
                let isCompany = $('#Client_Type').val() === "1";

                $('#Client_FirstName').parent('.form-group').hide();
                $('#Client_LastName').parent('.form-group').hide();
                $('#Client_SIRET').parent('.form-group').hide();
                $('#Client_Name').parent('.form-group').hide();
                $('#Client_Description').parent('.form-group').hide();

                if (isPerson) {
                    $('#Client_FirstName').parent('.form-group').show();
                    $('#Client_LastName').parent('.form-group').show();
                }

                if (isCompany) {
                    $('#Client_SIRET').parent('.form-group').show();
                    $('#Client_Name').parent('.form-group').show();
                    $('#Client_Description').parent('.form-group').show();
                }
            }

            updateTypeFieldsVisibility();
            $('#Type').change(function () {
                updateTypeFieldsVisibility();
            });
        });
    </script>
}

